.wrapper {
    width: 548px;
    background-color: var(--nav-bar-background);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid var(--border-color);

    & span {
        word-wrap: break-word;
        line-height: 2.4rem;
        white-space: nowrap;
        font-weight: 700;
        color: var(--shadow-text);
        font-size: 2rem;
        letter-spacing: 1px;
    }
}

.content {
    padding: 0 16px;
    & span {
        display: block;
        word-break: break-word;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--shadow-text);
        padding: 12px 0;
        
    }
}

.closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--comment-background);

    &:hover {
        filter: brightness(120%);
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    align-items: center;
    padding: 16px 0;
    justify-content: flex-end;

    & div {
        height: 36px;
        padding: 0 12px;
        font-size: 1.5rem;
        width: 130px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }

    & .editButton {
        color: var(--primary-color);
        width: 150px;
        margin-right: 8px;

        &:hover {
            background-color: var(--comment-background);
        }
    }

    & .cancelButton {
        background-color: var(--primary-color);
        color: #fff;

        &:hover {
            filter: brightness(120%);
        }
    }
}