
.item {
    display: flex;
    width: 100%;
    align-items: center;
    color: var(--shadow-text);
    margin-bottom: 24px;
    justify-content: space-between;

    & .icon {
        padding: 6px 6px 6px 0;
        display: flex;
        align-items: center;

    }

    & span {
        display: flex;
        flex: 1;
        padding: 0 6px;
        font-size: 1.5rem;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--comment-background);

    &:hover {
        cursor: pointer;
        filter: brightness(120%);
    }
}