.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(233,235,238);
}

.header {
    height: 56px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.logo {
    width: 135px;
    height: 100%;
    display: flex;
    align-items: center;
}

.login {
    padding: 0 12px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;   
    display: flex;
    align-items: center;
    border-radius: 6px;

    & span {
        font-size: 1.5rem;
        font-weight: 500;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(120%);
    }
}

.form {
    background-color: #fff;
    margin: 80px auto;
    width: 500px;
    border-radius: 12px;
}

.title {
    height: 60px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    & h3 {
        font-size: 2.2rem;
        font-weight: 500;
        margin: 0;
    }
}

.description {
    padding: 16px;
    font-size: 1.7rem;
}

.input {
    margin-bottom: 16px;
    padding: 0 16px;

    & input {
        padding: 16px;
        font-size: 1.5rem;
        width: 100%;
        border: 1px solid #ccc;
        outline: 0;
        border-radius: 8px;
    }
}

.buttons {
    border-top: 1px solid #ccc;
    padding: 16px;
    display: flex;
    justify-content: flex-end;

    & button {
        padding: 0 20px;
        height: 36px;
        border-radius: 6px;
        outline: 0;
        border: 0;
        font-size: 1.5rem;

       
    }

    & .sendBtn {
        background-color: var(--primary-color);
        color: #fff;
        &:hover {
            cursor: pointer;
            filter: brightness(120%);
        }
    }

    & .cancelBtn {
        margin-right: 6px;
        cursor: pointer;
    }
}

.error {
    margin: 16px 16px 0 16px;
    padding: 16px;
    border: 1px solid red;
    background-color: #FFEBE8;
    border-radius: 6px;

    & h4 {
        margin: 0;
        font-size: 1.5rem;
        color: #333;
        line-height: 20px;
        margin-bottom: 4px;
        font-weight: 500;
    }

    & span {
        font-size: 1.3rem;
    }
}