.wrapper {
    width: 100%;
    background-color: var(--nav-bar-background);
    border-radius: 8px;
    padding: 20px 16px;
    margin-top: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & span {
        color: var(--shadow-text);
        font-size: 2rem;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    & .button {
        color: var(--primary-color);
        padding: 8px;
        
        &:hover {
            background-color: var(--comment-background);
            cursor: pointer;
            border-radius: 6px;
        }
    }
}

.imageGroup {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.imageItem {
    width: 128px;
    height: 128px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;

    & img {
        width: 100%;
        border-radius: 4px;
        height: 100%;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        filter: brightness(105%);
        cursor: pointer;
    }
}