.wrapper {
    margin: 0 16px;
    border-top: 1px solid var(--comment-background);
    padding: 12px 0;
}

.mode {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.modeSelect {
    margin-bottom: 6px;
    color: var(--secondary-color);
    text-align: right;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    & span {
        display: block;
        margin-right: 4px;
    }
}

.dropdown {
    position: absolute;
    right: 0;
    width: 344px;
    padding: 8px;
    background-color: var(--nav-bar-background);
    bottom: -150px;
    z-index: 2;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

.option {
    padding: 4px 8px;

    &:hover {
        background-color: var(--comment-background);
        cursor: pointer;
        border-radius: 6px;
    }
    & h4 {
        font-size: 1.5rem;
        color: var(--shadow-text);
        margin: 4px 0;
        font-weight: 400;
    }

    & span {
        font-size: 1.2rem;
        color: var(--secondary-color);
    }
}

.arrow {
    position: absolute;
    right: 32px;
    top: -10px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--nav-bar-background);
}

.commentList {
    max-height: 170px;
    overflow: hidden;
}

.expanded {
    
    overflow: unset;
}

.more {
    margin-top: 4px;
    font-size: 1.5rem;
    color: var(--secondary-color);

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}