.wrapper {
    background-color: var(--nav-bar-background);
}

.header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.poster {
    display: flex;
    align-items: center;
    & img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
        cursor: pointer;
        object-fit: cover;
    }

    & .name {
        display: flex;
        align-items: center;
        & span {
            color: var(--shadow-text);
            font-size: 1.5rem;
            margin-right: 4px;
            font-weight: 500;
        }
    }
}

.info {
    
    & span {
        word-break: break-word;
        color: var(--secondary-color);
        word-wrap: break-word;
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.2;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.time {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-size: 1.3rem;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    color: var(--secondary-color);
    position: relative;
    top: 0;
    transform: translateY(-25%);
}

.caption {
    padding: 8px 16px 16px;
    color: var(--shadow-text);
}

.action {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        background-color: var(--comment-background);
    }
}

.statistical {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
    font-size: 1.4rem;
    padding: 10px 0;
    margin: 0 16px;
    border-bottom: 1px solid var(--comment-background);
}

.actions {
    margin: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}

.reactAction {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100%;
    & span {
        color: var(--secondary-color);
        margin-left: 8px;
    }

    

    &:hover {
        background-color: var(--comment-background);
        border-radius: 4px;
        cursor: pointer;
    }
}


.react {
    display: flex;
    align-items: center;
    flex: 1;
    & span {
        color: var(--secondary-color);
        margin-left: 6px;
    }
}

.emoji {
    display: flex;
    align-items: center;
}
