.wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & span {
        display: block;
        font-size: 2rem;
        color: var(--secondary-color);
        padding-top: 12px;
        font-weight: bold;
    }
}

