.wrapper {
    padding: 16px 8px 0 8px;
}

.link {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0 8px;

    &:hover {
        cursor: pointer;
        background-color: var(--comment-background);
        border-radius: 8px;
    }

    & img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    & div {
        word-break: break-word;
        word-wrap: break-word;
        color: #fff;
        font-size: 1.5rem;
        margin-left: 6px;
    }
}

.item {
    width: 100%;
    padding: 0 8px;

    &:hover {
        cursor: pointer;
        background-color: var(--comment-background);
        border-radius: 8px;
    }
}

.separator {
    margin-top: 8px;
    width: 100%;
    height: 1px;
    background-color: var(--comment-background);
    margin: 8px;
}