.wrapper {
    background-color: #fff;
    padding: 0;
    width: 480px;
    height: 380px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.header {
    display: flex;
    padding: 20px 16px;
}

.closeBtn {
    position: absolute;
    right: 18px;
    top: 22px;
    z-index: 2;

    &:hover {
        cursor: pointer;
    }
}

.title {
    & h3 {
        font-size: 3.2rem;
        line-height: 38px;
        color: var(--text-color);
        margin: 0;
    }
}

.content {
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #dadde1;
    padding: 20px;
    position: relative;
}

.formGroup {
    margin-bottom: 20px;
}

.input {
    font-size: 1.5rem;
    line-height: 20px;
    padding: 11px;
    outline: 0;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccd0d5;
    background: transparent;
    background-color: #f5f6f7
}



.signupBtn {
    width: 194px;
    margin: 36px auto;
    & button {
        width: 100%;
        background-color: #00a400;
        border-radius: 6px;
        box-shadow: none;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 600;
        height: 42px;
        outline: 0;
        border: 0;
    }

    & button:hover {
        cursor: pointer;
        background-color: #26bd26;
    }
   
}